<h2>Edit Figure<h2>
<form action="/figures/<%=@figure.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label>Name</label>
  <input id="figure_name" type="text" name="figure[name]" value="<%= @figure.name %>">

  <h4>Edit Titles<h4>
  <% @titles.each do |title| %>
  <%= title.name %>
  <input id="title_<%=title.id %>" type="checkbox" name="figure[title_ids][]" value="<%=title.id %>">
  <br>
  <%end%>
  <h4>Create New Title:<h4>
  <input id="new_title" type="text" name="title[name]">
  <br>
  <h4>Edit Landmarks<h4>
  <% @landmarks.each do |landmark| %>
  <%= landmark.name %>
  <input id="landmark_<%=landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id %>">
  <br>
  <%end%>
  <h4>Create New Landmark:<h4>
  Name: <input id="new_landmark" type="text" name="landmark[name]"/>
  Year: <input id="new_landmark_year" type="text" name="landmark[year_completed]"/>
  <br>
  <input type="submit" value="Edit Figure"/>
</form>
<br>
<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>